<html>
<head>

<meta name="viewport" content="width=device-width,initial-scale=1.0">	
    <title>Trippe'</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link rel="icon" href="img/trippe-favicon1.png">  
</head>

<body>
    <div id="home">
        <div class="logo">
            <center><a href="/"><img src="img/logo.png"> </a>
        </div>
    
    
        <div class="nav">
            <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#features1">Features</a></li>
            <li><a href="#contactus">Contact Us</a></li>
            <li><a href="#aboutus">About Us</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            </ul>
        </div>
        
        <div class="content">
                <span class="heading">" Welcome to Trippe'! "</span> 
                <p class="details">
                Trippe' is an online personal diary. Now travel the world, have fun, write notes, capture memories and share with your loved                   ones!All you need to do is just to sign up. Whola! That's it! 
                </p>
        </div>
        

    
    </div>
    
    <div id="features1">
        <div class="content2">
            <span class="heading">Write for your own!</span>
            <p class="details">
            Trippe' is an online personal diary. Now travel the world, have fun, write notes, capture memories and share with your loved ones!             All you need to do is just to sign up. Whola! That's it! 
            </p>
        </div>
    </div>
    
    <div id="features2">
        
        <div class="content3">
            <span class="heading">Easy To Access</span>
            <p class="details">
            Trippe' is an online personal diary. Now travel the world, have fun, write notes, capture memories and share with your loved ones!             All you need to do is just to sign up. Whola! That's it! 
            </p>
        </div>
    </div>
    
    <div id="features3">
        
        <div class="content2">
            <span class="heading">We are also in iWatch!</span>
            <p class="details">
            Trippe' is an online personal diary. Now travel the world, have fun, write notes, capture memories and share with your loved ones!             All you need to do is just to sign up. Whola! That's it! 
            </p>
        </div>
    </div>
    
    <a href="#" >
    <div class="goup">
            
    </div>

    </a>
    
		<div id="contactus">
			 <span class="heading">Want to get in touch?</span>
	   <center>  <fieldset>    <input type="text" class="input" placeholder="Your Email Goes Here!">
			 <textarea class="textarea1" placeholder="Your Message Goes Here!"></textarea>
			<br>
			<center>
			<input type="button" class="submitbtn" value="Submit">
	  </fieldset>  </div>
    
    <div id="contactdetails">
        
        <span class="heading">Contact Us Anytime!</span>

   </div>
   
     <div id="aboutus">
 
        <span class="heading">Who We Are?</span>
        <span class="heading">"We are the team of some awesome people! Yeah, You've heared right!"</span>
		<center>
        <a href="/nihalpatel">
        <div class="bio">
                <img  class="bioimg" src="img/we1.png">
                <span class="name">Nihal Patel</span>
                <span class="name">(UI Designer)</span>
                <p class="biodetails">"He is kinda mad, you can say! No big-deal. He thinks designing is a cup of tea! He is great at designing                   eye-catching interface. He is a guy with full of colors. Just see this design, he made it! Now don't need to tell about him, I                 guess! He can make you fat in photoshop! He loves to design stuff."</p>
        </div>
        </a>
		</center>
		<!--
        <a href="#aboutus">
        <div class="bio">
            <img  class="bioimg" src="img/we2.png">
            <span class="name">Radhika Gokani</span>
            <span class="name">(Web Designer)</span>
            <p class="biodetails">"She is not just a designer, also a creative visualiser!She is passionate at work. She designs like a charm.              12 hours of coding? No problem,at all! She can do it. She is fluent in HTML5 and CSS3.Here designs may blow your mind off!She can              impress anybody by her work.She loves Java,too!!"</p>
        </div>
        </a>
        <a href="#aboutus">
        <div class="bio">
            <img  class="bioimg" src="img/we3.png">
            <span class="name">Jaydutt Shukla</span>
            <span class="name">(UX Designer)</span>
            <p class="biodetails">"He is a gental man! Really? Ohh! Actually gental at designs. He makes wonderful graphics.Designing even at               mid-night? Oh, Of course he can do that! he is kinda geeky person! He loves to make design-hacks! Scripting? Oh yeah, he does that.             Fluent in JS,JQUERY,HTML5,CSS3 AND MAYBE IN many MORE!</p>
        </div>
        </a>
        <span class="copyright"><a href="http://www.trippe.xyz" alt="trippe'" class="copyright">&copy; trippe' 2015.</a>  A project developed only for the fun purpose by the designers, mentioned above.   And Blah! Blah!</span>
    -->
    </div>
        

 
   
    
 
    

</body>

</html>