<!DOCTYPE html>
<html>
    <head>
        <title>New Story ~ Artify</title>      
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/598c8aa2ed.js"></script>
        <script src="js/newstory.js"></script>
        <link rel="stylesheet" href="css/newstory.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/new-story" class="navbar-brand">Artify</a>
                </div>
               
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="">test</a></li>
                    <li class=""><a href="">test2</a></li>
                    <div class="dropdown profiledropdown">
                        <a href="#" data-toggle="dropdown"><img src="img/we1.png" class="profilepic"></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Stories</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                    <li class=""><a href="">test3</a></li>
                </ul>

            </div>
        </nav>

         <div class="container">
            <div class="toolbar">
                <a href="#" data-command='undo'><i class='fa fa-undo'></i></a>
                <a href="#" data-command='redo'><i class='fa fa-repeat'></i></a>
                <a href="#" data-command='bold'><i class='fa fa-bold'></i></a>
                <a href="#" data-command='italic'><i class='fa fa-italic'></i></a>
                <a href="#" data-command='underline'><i class='fa fa-underline'></i></a>
                <a href="#" data-command='strikeThrough'><i class='fa fa-strikethrough'></i></a>
                <a href="#" data-command='justifyLeft'><i class='fa fa-align-left'></i></a>
                <a href="#" data-command='justifyCenter'><i class='fa fa-align-center'></i></a>
                <a href="#" data-command='justifyRight'><i class='fa fa-align-right'></i></a>
                <a href="#" data-command='justifyFull'><i class='fa fa-align-justify'></i></a>
                <a href="#" data-command='indent'><i class='fa fa-indent'></i></a>
                <a href="#" data-command='outdent'><i class='fa fa-outdent'></i></a>
                <a href="#" data-command='insertUnorderedList'><i class='fa fa-list-ul'></i></a>
                <a href="#" data-command='insertOrderedList'><i class='fa fa-list-ol'></i></a>
                <a href="#" data-command='h1'>H1</a>
                <a href="#" data-command='h2'>H2</a>
                <a href="#" data-command='createlink'><i class='fa fa-link'></i></a>
                <a href="#" data-command='unlink'><i class='fa fa-unlink'></i></a>
                <a href="#" data-command='insertimage'><i class='fa fa-image'></i></a>
                <a href="#" data-command='p'>P</a>
                <a href="#" data-command='subscript'><i class='fa fa-subscript'></i></a>
                <a href="#" data-command='superscript'><i class='fa fa-superscript'></i></a>
            </div>
            <br/>

            <p id="ta-log">Draft</p>

            <h2 id="title" class="editor" placeholder="Title" contenteditable="true"></h2> <br/>
            <p id="description" class="editor" placeholder="Your Story....." contenteditable="true"></p>

            
            
        </div>

    </body> 
</html>